/**
 * ============================================================
 *     gpx-viewer スタイルシート
 * ============================================================
 */

/** 地図コンテナ（カスタマイズビュー） */
.map_container-index {
  height: calc(100vh - 282px);
}

/** 地図コンテナ（レコード詳細画面） */
.map_container-detail {
  height: calc(100vh - 320px);
  margin-left: 32px;
  position: absolute;
  width: calc(100vw - 640px);
}

/** ポップアップ */
.popup {
  z-index: 2;
}

/** ポップアップのボディ部 */
.popup-body {
  display: flex;
  flex-direction: column;

  /** ポップアップの画像 */
  .popup-body-image {
    margin-top: 12px;
    width: 100%;
  }

  /** ポップアップの説明 */
  .popup-body-desc {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;

    /** 説明内の撮影日時 */
    .popup-body-desc-timestamp {
      color: gray;
      font-style: italic;
      margin-left: 12px;
      white-space: nowrap;
    }
  }
}

/** ポイントリストのボックス */
.point-list-box {
  background-color: white;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 24px;
  padding: 8px;
  position: absolute;
  right: 24px;
  top: 24px;
}

/** ポイントリストのテーブル */
.point-list-table {
  max-height: 300px;
  overflow-y: auto;

  table { 
    font-size: 0.675rem;
    width: 100%;
  }
  thead th {
    height: unset;
    padding: 0 8px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  tbody tr {
    &:hover, &.selected-row {
      color: blue;
      background-color: lightcyan;
      cursor: pointer;
    }
    td {
      padding: 0 8px;
      text-align: right;
    }
  }
}

/** ポイントリストのステップ数 */
.point-list-steps {
  height: 24px;
  line-height: 24px;
  text-align: right;
  padding: 0 8px;
}