/**
 * ============================================================
 *     gpx-viewer スタイルシート
 * ============================================================
 */

/** 地図コンテナ（カスタマイズビュー） */
.map_container-index {
  height: calc(100vh - 282px);
}

/** 地図コンテナ（レコード詳細画面） */
.map_container-detail {
  height: calc(100vh - 320px);
  margin-left: 32px;
  position: absolute;
  width: calc(100vw - 640px);
}

/** ポップアップのボディ部 */
.popup-body {
  display: flex;
  flex-direction: column;

  /** ポップアップの画像 */
  .popup-body-image {
    margin-top: 12px;
    width: 100%;
  }

  /** ポップアップのコメント */
  .popup-body-desc {
    margin-top: 4px;
  }
}